/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  box-sizing: border-box;
}

/* BODY  */
body {
  display: grid;
  font-family: "Spline Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-width: 320px;
}

/* HEADER  */
div#headerWrapper {
  grid-row-start: 1;
}

header {
  display: grid;
  grid-template-columns: 51px auto 44px;
  align-items: center;
  padding: 0.5rem 2vw;
}
header div#phone {
  display: none;
}
header h1 {
  font-size: 1.6rem;
  font-weight: 700;
  padding-left: 0.5rem;
  color: #cc7a26;
}

/* NAVIGATION STUFF GOES HERE  */
div#navWrapper {
  grid-row-start: 4;
}

a {
  text-decoration: none;
  color: #265b7d;
  top: 0;
  right: 0;
  font-size: 1rem;
  padding: 0.5rem 2vw 0.5rem 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
a:hover {
  color: #cc7a26;
}

div#hambuger a, div#closex a {
  display: block;
  padding: 0.8rem 2vw;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  text-align: right;
}

div#closex a {
  margin-right: 2vw;
}

nav {
  height: 100vh;
}
nav ul {
  border-bottom: 1px solid #333;
}
nav ul li {
  border-top: 1px solid #eee;
}
nav ul li a {
  display: block;
  color: #333;
  padding: 0.9rem 2vw;
  text-decoration: none;
  text-align: right;
}
nav ul li a:hover {
  color: #cc7a26;
}
nav ul li.active a {
  background-color: #f9ecdf;
}

/* MAIN  */
div#mainWrapper {
  grid-row-start: 2;
}

main p {
  padding: 0.5rem 2vw;
  color: #333;
  line-height: 125%;
}
main h1 {
  padding: 1rem 2vw 0.5rem 2vw;
  font-size: 1.5rem;
  color: #265b7d;
  font-weight: 500;
}
main .hero {
  width: 100%;
}
main .hero img {
  width: 100%;
  height: auto;
}
main form.my-form {
  margin: 1rem 16px;
}
main form.my-form label {
  display: block;
  font-size: 0.8rem;
  color: #265b7d;
  padding-top: 0.2rem;
}
main form.my-form h3 {
  font-size: 0.9rem;
  color: #ae5801;
  margin: 1.5rem 0 0.2rem 0;
  border-bottom: 1px solid #eee;
}
main form.my-form input[type=text],
main form.my-form input[type=tel],
main form.my-form input[type=number],
main form.my-form input[type=email],
main form.my-form input[type=password],
main form.my-form select {
  display: block;
  margin: 0.1rem 0 1rem 0;
  border: 1px solid #999;
  border-radius: 4px;
  border-right-width: 5px;
  border-right-color: #686868;
  font-size: 1rem;
  color: #265b7d;
  width: 250px;
  padding: 0.5rem 16px;
}
main form.my-form input:required {
  border-right-color: red;
}
main form.my-form input:focus {
  border-right-color: grey;
}
main form.my-form input:required:valid {
  border-right-color: green;
}
main form.my-form input[type=submit] {
  border: none;
  background-color: #265b7d;
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  margin: 2rem 0;
  width: 250px;
  font-size: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
main form.my-form input[type=submit]:hover {
  cursor: pointer;
  background-color: #1c445e;
}

/* FOOTER  */
#footerWrapper {
  grid-row-start: 3;
  background-color: #1b1b1b;
}

footer {
  font-size: 0.85rem;
  padding: 1rem 0;
  color: #bbb;
  text-align: center;
}
footer a {
  color: #eee;
}

@media only screen and (min-width: 35rem) {
  /*Header*/
  #headerWrapper {
    border-bottom: 1px solid #eee;
  }
  header {
    grid-template-columns: 51px auto auto;
  }
  header div#phone {
    display: block;
    justify-self: end;
  }
  header div#phone a {
    color: #265b7d;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
  }
  header div#phone a:hover {
    color: #cc7a26;
  }
  /* NAVIGATION STUFF GOES HERE  */
  div#hamburger, div#closex {
    display: none;
  }
  nav {
    height: auto;
  }
  nav ul {
    display: flex;
    justify-content: end;
    border: none;
  }
  nav ul li {
    border: none;
  }
  /* structure stuff goes here */
  div#headerWrapper {
    grid-row-start: 1;
  }
  div#navWrapper {
    grid-row-start: 2;
  }
  div#mainWrapper {
    grid-row-start: 3;
  }
  div#footerWrapper {
    grid-row-start: 4;
  }
}
@media only screen and (min-width: 64rem) {
  header, nav, main {
    max-width: 1240px;
    margin: auto;
  }
  /* NAVIGATION STUFF GOES HERE  */
  nav ul li a {
    padding: 0.2rem 1rem;
    border-radius: 10px;
    margin: 0.5rem 0;
  }
}