/*Header*/
#headerWrapper {border-bottom: 1px solid #eee;}
header {
  grid-template-columns: 51px auto auto;
  div#phone {
    display: block;
    justify-self: end;
    a {
      color: $secondaryColor;
      text-decoration: none;
      font-weight: $normalWeight;
      font-size: 1.5rem;
    }//end anchor
    a:hover {color: $primaryColor}
  }//end phone
}//end header

/* NAVIGATION STUFF GOES HERE  */
div#hamburger, div#closex {display: none;}
nav {
  height: auto;
  ul {
    display: flex;
    justify-content: end;
    border: none;
    li {border: none;}
  }
}//end nav

/* structure stuff goes here */
div#headerWrapper {grid-row-start: 1;}
div#navWrapper {grid-row-start: 2;}
div#mainWrapper {grid-row-start: 3;}
div#footerWrapper {grid-row-start: 4;}